
@import 'reset.scss';
@import 'icomoon.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'highlight.scss';


/* -------------------------
	Generic Styles
----------------------------*/

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px; // baseline
}

body {
	background-color: #fff;
}

body, section, div, p, li, a, span {
	@include calc-font-flow(16);
	font-family: $font--body;
	color: darken($toolbar--gray, 50%);
}

section {
	padding-top: $--baseline * 4 + px;
	padding-bottom: $--baseline * 4 + px;
	padding-left: 0;
	padding-right: 0;
	display: block;
}

header {
	padding-top: $--baseline * 5 + px;
	padding-bottom: $--baseline * 5 + px;
	padding-left: 0;
	padding-right: 0;
	display: block;
}

footer {
	padding: $--baseline * 4 + px 0px;
}

p {
	margin-bottom: $--baseline + px;
	text-align: left;
}

h1, h2, h3 {
	font-family: $font--heading;
	margin-top: 0;
	margin-bottom: $--baseline + px;
}

h1 {
	font-size: 72px;
	line-height: 75px;
	line-height: 9rem;
	font-family: $font--title;
	font-weight: 700;
  text-align: center;
}

h2 {
	font-size: 42px;
	line-height: 45px;
	font-weight: 700;
  text-align: center;
  padding-top: $--baseline * 2 + px;
  padding-bottom: $--baseline + px;
}

h3 {
	@include calc-font-flow(20);
	font-weight: 700;
}

a {
	color: $purple;
	font-weight: 700;
	font-family: $font--body;
	text-decoration: none;
	font-size: inherit;
	line-height: inherit;
  border-bottom: 2px solid transparent;
	@include transition(all, 200ms);

	&:hover, &:focus {
		color: darken($purple, 10%);
		text-decoration: none;
		border-bottom: 2px solid darken($purple, 10%);
	}
}

.social-icons a {
  border: 0px;
}

small, small a {
	@include calc-font-flow(14);
	line-height: inherit;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
	font-family: $font--heading;
}



/* -------------------------
	Utility Classes
----------------------------*/

.screen-reader {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.center {
	@include center-element;
}

.center-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pull-right {
	float: right;
}

.container {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	padding: $--baseline + px 0;

	&:after {
		clear: both;
	}
}

.flex-grid {
	width: 100%;
	margin: ($--baseline + px) 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  flex-direction: row;
}


/* ------------------------
	HEADER (HOME)
--------------------------*/

header {
	background-color: $purple;

	h1, h2 {
		color: #fff;
	}

  h2 {
    font-style: italic;
    font-size: 34px;
    line-height: 34px;
    padding-top: 0;
  }

	ul {
		padding: 0;
		margin: 0;
		text-align: left;
		display: inline-block;
		margin-top: $--baseline + px;
	}

	li {
		display: inline-block;
		padding: ($--baseline / 2 + px) ($--baseline / 1.5 + px);

		&:first-child {
			padding-left: 0;
		}
	}

	li a {
		color: #fff;
		@include calc-font-flow(24);

		&:hover, &:focus {
			color: darken($purple, 30%);
			border: 0;
		}
	}
}

/* ------------------------
	POSTS
--------------------------*/

#posts {
	background-color: lighten($toolbar--gray, 8%);
  background-image: url(/images/geometry.png);
  background-size: 218px;

  h2 {
    color: darken($purple, 30%);
  }
  h3 {
  	color: darken($toolbar--gray, 60%);
    margin-bottom: 0;
  }
}

article {
	width: calc(33.33333% - 8px);
	background-color: #fff;
	margin: 0px 0px ($--baseline + px) 0px;
	border: 2px solid $purple--light;
	padding: $--baseline + px;
	@include border-radius(6);

	small {
		@include calc-font-flow(12);
		text-transform: uppercase;
		color: darken($toolbar--gray, 40%);
	}

	p {
		@include calc-font-flow(14);

		&:last-child {
			margin-bottom: 0;

      a {
        @include calc-font-flow(16);
      }
		}
	}
}

/* ------------------------
	ME/INTRO
--------------------------*/

#me {
  background-color: lighten($toolbar--gray, 8%);
  background-image: url(/images/geometry.png);
  background-size: 218px;

  .container {
    max-width: 800px;
  }

  .flex-grid {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .me__pic {
    width: 200px;
    height: 200px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
      @include border-radius(100%);
      //border: 1px solid darken($toolbar--gray, 5%);
      border: 6px solid #fff;
      //box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .me__pic, .me__desc {
    margin: $--baseline * 2 + px;
  }

  .me__desc span {
    background-color: #fff;
    padding: 1px;
    border-bottom: 2px solid lighten($purple, 25%);
    font-size: 20px;
    line-height: 35px;
  }
}

/* ------------------------
	PROJECTS & ABOUT
--------------------------*/

#about {
	background-color: $purple;

  .container {
    max-width: 800px;
  }

	h2, p {
		color: #fff;
	}

	.button {
		@include border-radius(6);
		background-color: transparent;
		padding: ($--baseline + px) ($--baseline * 2 + px);
		margin: ($--baseline + px) 0;
		display: inline-block;
		border: 2px solid #fff;
		color: #fff;

		&:focus, &:hover {
			background-color: darken($purple, 30%);
			border: 2px solid darken($purple, 30%);
		}

		i {
			padding-left: 5px;
		}
	}
}

#projects, #about {

	h3 {
		@include calc-font-flow(24);
	}

	p {
		@include calc-font-flow(18);
	}
}

#projects {
  .container {
    background: url('/images/geometry-heading-v1.png') no-repeat top center;
    background-size: 246px;
  }
  h2, h3 {
    color: darken($purple, 30%);
  }

  .flex-grid {
    flex-direction: row-reverse;
  }
}

.flex-grid {
	margin: ($--baseline * 5 + px) 0;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.project__info {
	width: 50%;
	padding-left: ($--baseline * 2) + px;
}

.project__window {
	width: 50%;
	max-width: 450px;
}
.window__wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: hidden;
	//box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
	@include border-radius(6);
	border: 2px solid lighten($purple, 7%);

	img {
		width: 100%;
		height: auto;
		flex-shrink: 0; // for IE :)
	}
}
.window__toolbar {
	height: 36px;
	background-color: lighten($purple--light, 7%);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: left;
	border-bottom: 2px solid lighten($purple, 7%);
}
.window__button {
	height: 12px;
	width: 12px;
	border-radius: 100%;
	margin: 12px 4px;
  background-color: darken($purple--light, 5%);
  border: 2px solid lighten($purple, 7%);

	&:first-child {
		margin-left: 12px;
	}
}



/* --------------------------
	footer
------------------------- */

footer {
	background-color: darken($purple, 30%);

  .container {
    max-width: 800px;
  }

	small {
		color: #fff;

    a {
      font-size: inherit;
      line-height: inherit;
    }
	}

	ul {
		width: auto;
		padding: 0;
		margin: 0;
		text-align: left;
		display: inline-block;
	}

	ul:last-child {
		text-align: right;

		li {
			display: inline-block;
			padding: ($--baseline / 2 + px) ($--baseline / 1.5 + px);

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}

	.flex-grid {
		margin: 0;
		justify-content: space-between;
	}

	a {
		@include calc-font-flow(24);
		color: #fff;

		&:hover, &:focus {
			border: 0;
			color: $purple;
		}
	}
}

/* --------------------------
	single post
------------------------- */


nav {
	background-color: $purple;
	padding: ($--baseline + px) ($--baseline * 2 + px);
	height: auto;

	.flex-grid {
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 960px;
	}

	a {
		color: #fff;
		@include calc-font-flow(20);
	}

	a:hover, a:focus {
		color: darken($purple, 30%);
		text-decoration: none;
	}
}

.single {

	ol {
		list-style-type: decimal;
		padding: 0 ($--baseline * 2 + px);

		li {
			padding-left: $--baseline / 2 + px;
			margin: ($--baseline + px) 0;
		}
	}

	p, span {
		@include calc-font-flow(16);
	}

	h1 {
		font-size: 48px;
		font-size: 4.8rem;
		line-height: 56px;
		line-height: 5.6rem;
		color: darken($purple, 30%);
	}

	h2 {
		margin: ($--baseline * 2 + px) 0 ($--baseline + px) 0;
	}
	.date {
		@include calc-font-flow(14);
		text-transform: uppercase;
		text-align: right;
		color: darken($toolbar--gray, 20%);
		font-weight: 700;
	}
	.container {
		max-width: 960px;
		@include border-radius(6);
		padding: $--baseline * 2 + px;
	}

	img:not(.pull-right) {
		border: 1px solid $toolbar--gray;
		@include border-radius(6);
		width: 90%;
		max-width: 600px;
		display: block;
		margin: 0 auto;
	}

	code {
		@include border-radius(6);
	}
}


/* --------------------------
		8. Mobile Styles
------------------------- */

@media (max-width: 960px) {

	article {
		width: calc(50% - 8px);
	}
}

@media (max-width: 768px) {

	.hidden--medium {
		display: none;
		visibility: hidden;
		width: 0px;
		height: 0px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}

	.single .container {
		padding: 0;
	}

  #me .me__desc p {
    @include calc-font-flow(16);
  }

  .me__pic, .me__desc {
    margin: $--baseline / 2 + px;
  }


	article {
		width: calc(100% - 8px);
	}

	.flex-grid {
		display: block;
    margin: $--baseline * 2 + px 0px;

	}
  .project__window, .project__info, footer ul {
		width: 98%;
	}
  .project__window {
    margin: 0 auto;
  }
	.project__info {
		padding-left: 0;
    padding-top: $--baseline + px;
    padding-bottom: $--baseline + px;
	}

	#projects p, #about p {
		@include calc-font-flow(15);
	}

  footer ul:last-child {
    padding-top: $--baseline * 1.5 + px;
    text-align: left;
  }
}


@media (max-width: 576px) {

	.hidden--mobile {
		display: none;
		visibility: hidden;
		width: 0px;
		height: 0px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}

	body, span, p, div {
		@include calc-font-flow(16);
	}

	h1 {
		font-size: 60px;
		line-height: 60px;
		line-height: 6rem;
	}

	h2 {
		@include calc-font-flow(30);
    padding: $--baseline + px;
	}

	h3, #projects h3 {
		@include calc-font-flow(20);
	}

  #me {
    .me__pic {
      @include center-element;
      width: 200px;
      height: 200px;
    }
    .me__desc {
      padding-left: 0;
      padding-top: $--baseline + px;

      p { @include calc-font-flow(16); }
    }
  }
}
