/* -----------------------------
		VARIABLES:
		1. Colors
		2. Fonts
----------------------------- */

// 1. Colors
$purple: #8971d0;
$purple--light: #d9d1f0;

$button--red: rgb(255, 91, 82);
$button--yellow: rgb(255, 194, 7);
$button--green: rgb(22, 208, 55);

$toolbar--gray: rgb(222, 222, 222);


// 2. Fonts
$font--heading: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
$font--title: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
$font--body: 'Raleway', Helvetica, Arial, Verdana, sans-serif;
