extends layout.pug

block content
	div(style="max-width: 450px; margin: 20px auto;")
		.center
			img(src="/images/pbg.gif", alt="Princess Bubblegum from the cartoon 'Adventure Time' flipping a table in anger.", width="375", style="padding: 16px 0;")
		.center
			h2.center 404 - Page Not Found!
			p.center Yikes! I can't find this page at all.
			p.center Let's get out of here...
			p.center
				a.text-link(href="/") 
					i.icon.icon-arrow-left(aria-hidden="true", style="padding-right: 8px;")
					| Return to the homepage
