
head
	title Jen Downs, front-end developer
	meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
	meta(content-type='text/html', charset='utf-8')    
	meta(content='width=device-width, initial-scale=1.0', name='viewport')    
	meta(content='Jen Downs is a creative front-end developer in Austin, TX.', name='Description')
	meta(content='NOODP', name='googlebot')
	meta(property="og:url", content="https://jendowns.com/")
	meta(property="og:author", content="Jen Downs")
	meta(property="og:type", content="website")
	meta(property="og:title", content="Jen Downs, front-end developer")
	meta(property="og:image", content="http://www.jendowns.com/images/workspace.png")
	meta(property="og:image:width", content="500")
	meta(property="og:image:height", content="325")
	meta(property="og:description", content="Jen Downs is a creative front-end developer in Austin, Texas.")
	meta(name="twitter:card", content="summary_large_image")
	meta(property="twitter:creator", content="@jenisora")
	meta(property="twitter:title", content="Jen Downs, front-end developer")
	meta(property="twitter:image", content="http://www.jendowns.com/images/workspace.png")
	meta(property="twitter:image:alt", content="Jen's Dogs, Luna and Ash, sitting next to each other.")
	meta(property="twitter:description", content="Jen Downs is a creative front-end developer in Austin, Texas.")

	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,400i,700,900')
	link(rel='stylesheet', href='/stylesheets/style.css')

	script(type='text/javascript').

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-72766756-2', 'auto');
		ga('send', 'pageview');

	script(type='application/ld+json').
		{
			"@context": "http://schema.org/",
			"@type": "Person",
			"name": "Jen Downs",
			"jobTitle": "Front-End Developer",
			"url": "http://www.jendowns.com"
		}


