
head
	title Jen Downs, front-end developer
	meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
	meta(content-type='text/html', charset='utf-8')    
	meta(content='width=device-width, initial-scale=1.0', name='viewport')    
	meta(content='Jen Downs, creative front-end developer in Austin, TX.', name='Description')
	meta(content='YkqMlmZyGys4qjwOT4Dg1JbhRuOO_-kNB3-n94eIFV8', name='google-site-verification')
	meta(content='noarchive,noimageindex', name='robots')
	meta(content='NOODP', name='googlebot')
	meta(content='nositelinkssearchbox', name='google')
	meta(content='notranslate', name='google')
	meta(property="og:url", content="https://jendowns.com/")
	meta(property="og:author", content="Jen Downs")
	meta(property="og:type", content="profile")
	meta(property="og:title", content="Jen Downs, front-end developer")
	meta(property="og:image", content="http://jen.li/good-dogs/wp-content/themes/good-dogs/images/cover.jpg")
	meta(property="og:image:width", content="500")
	meta(property="og:image:height", content="362")
	meta(property="og:description", content="Jen Downs is a creative front-end developer in Austin, Texas.")
	meta(name="twitter:card", content="summary")
	meta(property="twitter:creator", content="@jenisora")
	meta(property="twitter:title", content="Jen Downs, front-end developer")
	meta(property="twitter:image", content="http://jen.li/good-dogs/wp-content/themes/good-dogs/images/cover.jpg")
	meta(property="twitter:image:alt", content="Jen's Dogs, Luna and Ash, sitting next to each other.")
	meta(property="twitter:description", content="Jen Downs is a creative front-end developer in Austin, Texas.")

	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900')
	link(rel='stylesheet', href='/stylesheets/style.css')