extends layout.pug

block content
	nav
		.flex-grid
			ul
				li 
					a(href='/', title='Back Home')
						i.icon.icon-arrow-left(aria-hidden="true") 
						|  Back

	section.single
		.container
			p.date #{date}
			h1 #{title}
			| !{body}

	footer
		.container
			.flex-grid
				ul
					li
						small &copy; 2017 Jen Downs. 
					li
						small Made with 
							i.icon.icon-heart
							span.screen-reader love 
							|  in Austin, TX.
				ul
					li
						a(href='https://twitter.com/jenisora', target='_blank', title='Twitter')
							i.icon.icon-twitter(aria-hidden="true") 
							span.screen-reader Twitter
					li    
						a(href='https://codepen.io/jendowns', target='_blank', title='Codepen')
							i.icon.icon-codepen(aria-hidden="true") 
							span.screen-reader Codepen
					li    
						a(href='https://github.com/jendowns', target='_blank', title='GitHub')
							i.icon.icon-github(aria-hidden="true") 
							span.screen-reader GitHub
					li
						a(href='https://keybase.io/jeni', target='_blank', title='Keybase.io')
							i.icon.icon-key(aria-hidden="true")
							span.screen-reader jeni on Keybase.io

	script(type='text/javascript', src='js/highlight.pack.js')
	script(type='text/javascript').
		console.log();
		console.log("%c💁🏻 Hello there!", "color: #8971d0; font-size: 14px;font-weight: 700; padding: 4px; border: 2px solid #8971d0;");
		console.log();
		hljs.initHighlightingOnLoad();
